.case-text {
  @include container-wide;
  margin-bottom: $space-xx-large;
  opacity: 0;
  display: flex;

  &__title {
    width: 25%;
    margin-right: $space-x-large;
  }

  &__content {
    flex: 1;
  }
}
