svg, canvas {
    z-index: 10;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;  
    background: black;
    pointer-events: none;
  }
  .loading-home-svgs__container{
    position: absolute;
    overflow: hidden;
    display: flex;
    top: -10000px;
    left: -10000px;
}