html {
  height: 100%;
  overflow: hidden;
}

body {
  @include typo-base;
  background-color: $color-black;
  overflow: auto;
  height: 100%;
}

a {
  color: $color-white;
  text-decoration: none;
}

.scroll-content{
  width: 100vw;
  height: auto;
}

h1 {
  @include as-h1;
}

h2 {
  @include as-h2;
}

p {
  @include as-p;
}

.js--already-animated{
  opacity: 1 !important;
}
