html {
  height: 100%;
  overflow: hidden;
}

body {
  @include typo-base;
  background-color: $color-black;
  overflow: auto;
  height: 100%;
}

a {
  color: $color-white;
}

.scroll-content{
  width: 100vw;
  height: auto;
}