/// Helper mixin for absolute centering.
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin container {
  width: 40%;
  max-width: 580px;
  margin: 0 auto;
}

@mixin container-wide {
  max-width: 1180px;
  margin: 0 auto;
  margin-bottom: $space-xx-large;
  width: 82%;
}
