/**
 * Fonts
 **/
$font-family-heading: 'Simplon BP', Helvetica, Arial, sans-serif;
$font-family-text: 'Univers LT Std', Helvetica, Arial, sans-serif;
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-size-small: 12px;
$font-size-base: 16px;
$font-size-medium: 20px;
$font-size-large: 48px;
$font-size-xtra-large: 72px;
$font-size-giant: 186px;
$line-height-small: 1.2;
$line-height-base: 1.5;
$letter-spacing-base: normal;
$letter-spacing-least: -0.02em;

/**
 * Colors
 **/
$color-black: #151515;
$color-white: #fafafa;
$color-white-dimmed: rgba(250, 250, 250, 0.4);

/**
 * Spacings
 **/
$space-xtra-large: 275px; /* Used */
$space-xxx-large: 260px; /* Used */
$space-xx-large: 218px; /* Used */
$space-x-large: 120px; /* Used */
$space-large: 55px; /* Used */
$space-medium: 36px; /* Used */
$space-base: 28px;
$space-small: 24px; /* Used */
$space-tiny: 8px;
$space-x-tiny: 4px;
