.home-project__title,
.title-canvas svg {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:transparent;
}

.home-project__title--bottom{
  height: 100vh;
}

.home-svgs__container{
  position: absolute;
  overflow: hidden;
  display: flex;
  top: -10000px;
  left: -10000px;
}

.title__next-project{
  position: absolute;
  top: 80%;
  left: 10%;
  &.title__next-project--hidden{
    display: none;
  }
}