.about-aside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: $space-large;

  nav {
    width: 93%;
    max-width: 1335px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: $font-size-small;
    letter-spacing: 2px;
  }
}
