$case-banner-height: 470px;

.case-banner {
  height: $case-banner-height;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100%;
  opacity: 0;

  &__img {
    width: 100%;
  }
}
