.case-header {
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: flex-end;
  display: flex;
  top: 0;
  position: absolute;
  margin-top: 50px;
  z-index: 50;

  &__link {
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-large;
  }
}
