$case-heading-label-width: 60px;

.case-heading {
  @include typo-heading;
  @include container;

  width: 100%;
  opacity: 0;

  &__element:first-child {
    margin-right: 60px;
  }

  &__element {
    display: inline-block;
    margin-right: 50px;
  }
}
