$case-heading-label-width: 60px;

.case-heading {
  @include typo-heading;
  @include container;

  display: flex;
  justify-content: space-between;
  padding-top: $space-xtra-large;
  opacity: 0;

  &__element:not(:last-child) {
    margin-bottom: $space-base;
  }

  &__label {
    width: $case-heading-label-width;
    display: inline-block;
  }

  &__separator {
    margin-right: $space-small;
  }
}
